.mountain {
	background-image: url('/mountain.png');

}

.stars {
	background-image: url('/stars.png');

}

.sun {
	background-image: url('/sun.png');

}

.title {
	-webkit-text-stroke: 6px rgb(92, 11, 223);
}